name: dnikitin

services:
  postgres:
    image: postgis/postgis:18-3.6-alpine
    environment:
      POSTGRES_PASSWORD: transit_db
      POSTGRES_USER: transit
      POSTGRES_DB: transit
    ports:
      - "5434:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
  redis:
    image: redis:8.4-alpine
    ports:
      - "6379:6379"

volumes:
  postgres_data: